<div class="dv"><div class="dvd"><img src="/images/sp.gif" width="1"	height="1" border="0" alt=""></div></div>
<p><img src="/images/arr_r.gif" width="6"	height="7" border="0" alt="">&nbsp;<B><a href='<?=$data['url']?>' class='inv' title='<?=$data['title']?>'><?=$data['title']?></a></B><Br>
	<br>
<?=$data['text']?>
<br><br>
