<P>
<div align=center><?=@nl2br($_DOC['ERROR'])?></div>
<FORM ACTION="" METHOD=POST enctype="multipart/form-data" name="db_form">
<TABLE BORDER=0 width='100%' cellspacing=1 cellpadding=3>
<?$_DOC['cForm']->Body_print();?>
<TR><TD>&nbsp;</TD><TD align="left"><INPUT TYPE="submit" name=submit value=save>&nbsp;&nbsp;<INPUT TYPE="reset" value=reset></TD></TR>
</TABLE>
</FORM>