<?php
			$folder = KAT::get_data_link( '/f_'.$_KAT['KUR_ALIAS'], $dir, KAT_LOOKIG_DATA_DIR );
			$res    = SQL::sel( "*", $_KAT['KUR_TABLE'], "new = 1", " ORDER BY id DESC");
			$field_doc_name = $_KAT['MASS_UPLOADER']['doc'];
			if ($res->NumRows > 0) {
?>
				<form action="/clear/db/<?=$_KAT['KUR_ALIAS'];?>/mass_add" method="post"><table cellpadding="0" cellspacing="0" border="0">
<?php
				for ($i = 0; $i < $res->NumRows; $i++) {
					$res->FetchArray($i,1);
					$arr = $res->FetchArray;
?>
					<tr><td><img src="<?php echo $folder."/".$arr[$field_doc_name]; ?>" width="90" style="margin:10px;" ></td>
					<td><label><?=Main::get_lang_str('opisanie_foto', 'db');?></label><br />
                    <textarea name="name[<?php echo $arr[$field_doc_name];?>]" rows="5" cols="50" style="margin:10px;"><?=STR::utf2win($arr['name'])?></textarea></td>
					<td><img src="<?='/templates/'.$_CORE->CURR_TPL.'/'.$_KAT['MODULE_NAME'];?>/cancel.png" style="cursor:pointer; margin:10px;" ALT='<?=Main::get_lang_str('del', 'db');?>' OnClick='if (confirm("<?=Main::get_lang_str('vy_uvereny_del', 'db');?>")){$.post("/clear/db/<?=$_KAT['KUR_ALIAS'];?>/mass/delfoto", {doc:"<?php echo $arr[$field_doc_name]; ?>"}); $(this).parent().parent().remove(); return true;}else	return false;'>
						  <input type="hidden" name="doc[<?php echo $arr[$field_doc_name];?>]" value="<?php echo $arr[$field_doc_name]; ?>">
						  </td></tr>
<?php				} ?>
				<tr><td style="text-align:right;" colspan="3"><input type="submit" name="save" value="<?=Main::get_lang_str('save', 'db');?>"></td></tr>
				</table></form>
<?php		} ?>

