BODY {
  FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE: 10pt
}
TD {
  FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE: 10pt
}
TH {
  FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE: 10pt
}
P {
  MARGIN-BOTTOM: 2pt; MARGIN-TOP: 10pt
}
EM {
  FONT-STYLE: italic; FONT-WEIGHT: bold
}
UL {
  MARGIN-TOP: 10pt
}
OL {
  MARGIN-TOP: 10pt
}
PRE {
  FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace; FONT-SIZE: 10pt
}
A.nav {
  COLOR: #000066; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
A.nav:hover {
  COLOR: #000066; TEXT-DECORATION: underline; FONT-WEIGHT: bold
}
H1 {
  COLOR: #000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5pt
}
H2 {
  COLOR: #000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5pt
}
H3 {
  COLOR: #000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5pt
}
SMALL {
  FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8.5pt
}
.tableTitle {
  FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.tableExtras {
  COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8.5pt
}

TABLE.warning, TABLE.caution {
  border-color : #B22222;
  background-color : #EEE8AA;
  border-width : 2;
  font : bold normal Arial, Helvetica, sans-serif;
  margin : 0;
  border-spacing : 0px;
}
