<div class="searchitem_youtube">
	<a href="http://www.youtube.com/v/<?=trim($data['code'])?>"  rel="si_youtube">
  <img src="http://i3.ytimg.com/vi/<?=trim($data['code'])?>/default.jpg" /> <p><?=$data['name']?></p>
	</a>
</div>