<img src="<?=$_CORE->TEMPLATES.$_CORE->CURR_TPL?>/images/lb.gif" width="2" height="2" border="0" alt="" class="m3i"><span class="m4">
<a href="<?=$item['path']?>" class=inv TITLE='<?=$item['name']?>'>
		<?=STR::taging(STR::short($item['name'], 70), 'b', $deep==0)?></a>
</span><BR>
