 <url>
 <loc><?=($_MAP['HTTPS']) ? 'https' : 'http'?>://<?=$_SERVER['HTTP_HOST'].$item['path']?></loc>
 <lastmod><?=($item['ts'] && $item['ts']!='0000-00-00')?$item['ts']:date("Y-m-d", strtotime("-2 days"))?></lastmod>
 <changefreq>weekly</changefreq>
 <priority>0.8</priority>
 </url>

