<!-- <li><a href="<?=$item['path']?>"  TITLE='<?=$item['name']?>'><?=STR::taging(STR::short($item['name'], 70), 'b', $deep==0)?></a></li>  -->
<li><?=STR::taging_a(STR::short($item['name'], 70), $item['path'], 'class=map_line', true)?></li>