      <div class="like_<?=$tab;?>" id="like_<?=$tab.$_LIKE['num'];?>" ><?=$_LIKE[$tab]['onlike'];?></div>
     <? if($count_like!==''){ ?>
        <div class="like_count_<?=$tab;?>" id="like_count_<?=$tab.$_LIKE['num'];?>"><?=$count_like;?></div>
     <? } ?>