<item turbo="true">
<title><![CDATA[<?php echo $data[$name];?>]]></title>
<link><?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].'/'.$data[$alias];?></link>
<turbo:content><![CDATA[
    <head>
    <h1><?php echo $data[$name];?></h1>
    </head>
    <p>
        <? if(!empty($data['anons']) && $desc=='cont'){ ?>
        <?php echo html_entity_decode(strip_tags($data['anons']));?>
        <? } else { ?>
        <?php echo substr(html_entity_decode(strip_tags($data[$desc])),0,300);?>...
        <? } ?>    
    </p>]]
</turbo:content>
<pubDate><?php echo date('r',strtotime($data[$date]));?></pubDate>
<guid isPermaLink="false"><?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].'/'.$data[$alias];?></guid>
</item>
