<?php //echo "<pre>"; print_r($_KAT); echo "</pre>"; die;
    $name = (!empty($_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['name']))?$_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['name']:'name';
    $alias = (!empty($_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['alias']))?$_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['alias']:'alias';
    $desc = (!empty($_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['description']))?$_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['description']:'cont';
    $date = (!empty($_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['date']))?$_KAT[$_KAT['KUR_ALIAS']]['rss_fields']['date']:'ts';
?>
<? echo '<?xml version="1.0" encoding="windows-1251"?>';?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    xmlns:yandex="http://news.yandex.ru"
    xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:turbo="http://turbo.yandex.ru"    
	>
	<channel>
	<title><?php echo $_KAT['TITLE'];?></title>
	<atom:link href="//<? echo $_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].'?'.$_SERVER['QUERY_STRING'];?>" rel="self" type="application/rss+xml" />
	<link><?php echo '//'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].'/';?></link>
	<description></description>
	<language>ru</language>
	