<?if (!empty($data["doc1"]) && is_file($FORM_DATA["doc1"]["abspath"]."/".$data["doc1"])):?>
<div class="searchitem_image">
		<a href="<?="/clear/".$_KAT['MODULE_NAME'].'/'.$_KAT['KUR_ALIAS'].'/'.$data["alias"].$url_add?>" rel=facebox>
			<div class="img">
				<img src="/reimg/<?=$FORM_DATA["doc1"]["path"]."/".$data["doc1"]?>?150" alt="<?=$data['name']?>" border="0">
			</div>
			<p>	<?=$data['name']?> </p>
		</a>
</div>
<?endif;?>  

