<?if (!empty($data["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$data["doc"])):?>
<div class="searchitem_file">
        <a href='<?=($data['url'])?$data['url']:$FORM_DATA["doc"]["path"]."/".$data["doc"]?>' target=fl>
<?if (!empty($data["doc1"]) && is_file($FORM_DATA["doc1"]["abspath"]."/".$data["doc1"])):?>
        <img src="/reimg<?=$FORM_DATA["doc1"]["path"]."/".$data["doc1"]?>?100x100" alt="<?=$data['name']?>" border="0">
<?endif;?>	
        <p><?=$data['name']?></p></a>
</div>
<?endif;?>
