
	<h3><?=$form['name']?></h3>
	<p class="date"><?=STR::date2word($form['ts'])?></p><br>
	<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chld=<?=$data['chld']?>&choe=UTF-8&chl=<?=URLStat::geturl($form["id"])?>" width=300 height=300 border="0">
