<?php
$str .= '<script type="text/javascript" src="'.$field['wysiwyg_path'].'/jscripts/tiny_mce/tiny_mce.js"></script>'.
/*'<script type="text/javascript" src="'.$field['wysiwyg_path'].'/ajaxfilemanager/jscripts/general.js"></script>'.*/
'<script type="text/javascript">'.
	'tinyMCE.init({'.(!isset($field['params'])?
		'mode : "specific_textareas",'.
		'file_browser_callback : "ajaxfilemanager",'.
        'editor_selector : "mceEditor",'.
       	'theme : "advanced",'.
		'cleanup : true,' . 
		'language : "ru",' . 
       	'content_css : "/templates/def/CSS/style.css",'.
       	'content_css : "/templates/def/CSS/update.css",'.
        'plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template, spoiler",'.
		'theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,umispoiler,spoiler",'.
		'theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|replace,|,bullist,numlist,|,undo,redo,|,link,unlink,|,anchor,|,image,cleanup,code,|,forecolor,backcolor,|,",'.
		'theme_advanced_buttons3 : "tablecontrols,|,removeformat,visualaid,|,sub,sup,|,charmap,iespell,media,fullscreen,pagebreak,|,insertfile,insertimage",'.
		'theme_advanced_toolbar_location : "top",'.
        'theme_advanced_toolbar_align : "left",'.
		'theme_advanced_statusbar_location : "bottom",'.
        'theme_advanced_resizing : true,'.
		'relative_urls : false,'.
		'remove_script_host : true,'.
		'convert_urls : false':$field['params']).
	'});'.
	'function ajaxfilemanager(field_name, url, type, win) {'.
			'var ajaxfilemanagerurl = "'.$field['wysiwyg_path'].'/ajaxfilemanager/ajaxfilemanager.php";'.
			'var view = "detail";'.
			'switch (type) {'.
				'case "image":'.
				'view = "thumbnail";'.
					'break;'.
				'case "media":'.
					'break;'.
				'case "flash":'. 
					'break;'.
				'case "file":'.
					'break;'.
				'default:'.
					'return false;'.
			'}'."\n".
            'tinyMCE.activeEditor.windowManager.open({'.
                'url: "'.$field['wysiwyg_path'].'/ajaxfilemanager/ajaxfilemanager.php?view=" + view,'.
                'width: 782,'.
                'height: 640,'.
                'inline : "yes",'.
                'close_previous : "no"'.
            '},{'.
                'window : win,'.
              '  input : field_name'.
            '});
			}'.
'</script>';