<?=STR::taging_a('<h2>'.$data['name'].'</h2>',"/".$_KAT['MODULE_NAME'].'/'.$_KAT['TABLES'][$_KAT['KUR_ALIAS']].'/'.$data["alias"]);?>
<p><?=STR::date2word($data['ts']);?></p>
<?if(!empty($data['city'])){?>
<b><?=$FORM_DATA['city']['title']?></b> - <?=$FORM_DATA['city']['arr'][$data['city']];?><br>
<?}?>
<?if(!empty($data['industry'])){?>
<b><?=$FORM_DATA['industry']['title']?></b> - <?=$FORM_DATA['industry']['arr'][$data['industry']];?><br>
<?}?>
<?if(!empty($data['level'])){?>
<b><?=$FORM_DATA['level']['title']?></b> - <?=$FORM_DATA['level']['arr'][$data['level']];?><br>
<?}?>
<? 
	if(substr_count($data['description'],'<!-- pagebreak -->'))
	{
		$content = explode('<!-- pagebreak -->',$data['description']);
		echo strip_tags($content[0]);
	}
	else
	{
		echo strip_tags($data['description']);
	}
?>
