<h1><?=$form['name'];?></h1>
<?if(!empty($form['city'])){?>
<b><?=$FORM_DATA['city']['title']?></b> - <?=$FORM_DATA['city']['arr'][$form['city']];?><br>
<?}?>
<?if(!empty($form['industry'])){?>
<b><?=$FORM_DATA['industry']['title']?></b> - <?=$FORM_DATA['industry']['arr'][$form['industry']];?><br>
<?}?>
<?if(!empty($form['level'])){?>
<b><?=$FORM_DATA['level']['title']?></b> - <?=$FORM_DATA['level']['arr'][$form['level']];?><br>
<?}?>
<?if(!empty($form['description'])){?>
		<p><?=$form['description'];?></p>
<?}?>
<?if(!empty($form['requirements'])){?>
	<h3><?=$FORM_DATA['requirements']['title']?></h3>
	<p><?=$form['requirements'];?></p>
<?}
if(!empty($form['compens'])){
?>
	<h3><?=$FORM_DATA['compens']['title']?></h3>
	<p><?=$form['compens'];?></p>
<?}?>
