<? if($_SESSION['SESS_AUTH']['ID']){ ?>
    <form action="/db/auction/add?edit" method="post"  name='db_form'>
        <input type="hidden" value="<?=$form['from_auth']; ?>" name="form[to_auth]" />
        <input type="hidden" value="<?=$_KAT['TABLES'][$_KAT['KUR_ALIAS']];?>" name="form[kur_alias]" />
        <input type="hidden" value="<?=$form['id'];?>" name="form[kur_id]" />
        <input type="submit" name="submit" value="Добавить предложение"/>
    </form>	
<? } ?>