<item>
<title><![CDATA[<?php echo $data[$name];?>]]></title>
<link><?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].'/'.$data[$alias];?></link>
<? if(!empty($data['anons']) && $desc=='cont'){ ?>
<description><![CDATA[<?php echo html_entity_decode(strip_tags($data['anons']));?>]]></description>
<? } else { ?>
<description><![CDATA[<?php echo substr(html_entity_decode(strip_tags($data[$desc])),0,300);?>...]]></description>
<? } ?>
<pubDate><?php echo date('r',strtotime($data[$date]));?></pubDate>
<guid isPermaLink="false"><?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].'/'.$data[$alias];?></guid>
</item>
