<label>
<?if (!empty($data["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$data["doc"])):?>
				<div class="photo">
					<img src="/reimg<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>" border="0">
				</div>
<?endif;?>	
	<input type="radio"  name="BASKET_DELIVERY[delivery_type]" value="<?=$data['name'];?>" >
	<?=$data['name'];?>
</label>
<p><?=$data['cont'];?></p>