<table width="100%"  border="0" cellpadding="0" cellspacing="20" class="popuptitle">
      <tr>
        <td><img src="<?=$_CORE->TEMPLATES.$_CORE->CURR_TPL?>/<?=$_KAT['MODULE_NAME']?>/d_folder.gif" alt="" width="24" height="24" hspace="0" vspace="0" align="left"><h2>
        <?=(!empty($form['name'])?$form['name']: Main::get_lang_str('multizagr', 'db'));?>
        </h2></td>
      </tr>
    </table>
		<CENTER>