<TABLE BORDER=0 CELLSPACING=1 CELLPADDING=2 <?=$_VOTE['settings']['width']?>>
<FORM METHOD=POST ACTION='<?=$_VOTE['settings']['action']?>' name=quest OnSubmit="window.open('','Vote','width=370,height=230,resizable=no,scrollbars=no,menubar=no,status=no')" target=Vote>
<INPUT TYPE='hidden' name=id value=<?=@$_REQUEST['id']?>>
<TR>
  <TD <?=$_VOTE['settings']['vtz']?> align=center><B><?=@$_VOTE['vote']['title']?></B></TD>
</TR>
<TR><TD <?=$_VOTE['settings']['vtb']?>>
<?
	foreach( $_VOTE['vote']['ans'] as $k => $v)
		echo "<INPUT TYPE='radio' ".$_VOTE['settings']['vbut']." NAME='aid' value='".$_VOTE['vote']['ans_id'][$k]."' ".$_VOTE['settings'][vbut]." CHECKED> $v<br>";
?>
</TR>
<TR><TD <?=$_VOTE['settings']['vtb']?> align=right>
	<INPUT TYPE='submit' <?=$_VOTE['settings']['vbut']?> name=go value=' >> '>
</TD></TR>
</FORM>
</TABLE>