<!-- LandHome 1 Style 29.10.01 -->
<style>     
	     <!--
	  .help {
		position:	absolute;
		top:		35px;
		left:		450px;
		font-size : 15px;
		font-family: "Arial Black"; 
		font-style : bold;
		}

	.para1 
		{ 
		margin-top: -39px; 
		margin-left: 145px; 
		margin-right: 10px; 
		font-family: "Arial"; 
		font-size: 25px; 
		line-height: 35px; 
		text-align: left; 
		color: #E1E1E1; 
		}

	.para2 
		{ 
		margin-top: 15px; 
		margin-left: 15px; 
		margin-right: 50px; 
		font-family: "Arial Black"; 
		font-size: 50px; 
		line-height: 40px; 
		text-align: left; 
		color: #004080; 
		}
	BODY, TD, P, LI 
		{
		font-family : Verdana, Arial, Helvetica;
		line-height: 12px;
		font-size: 9px;
		color : black;
		background-color: white;
		}

P.warning, P.message {	
	font-family : Verdana, Helvetica, Arial; 
	color: red;
	font-size : 9px;
	font-weight: bold;
	margin: 5px 5px 5px 1px;}
	LI 
		{
		line-height: 9px;
		}
	UL 
		{
		font-family : Verdana, Helvetica, Arial; 
		font-size : 9px; 
		line-height: 9px;
		margin: 0px 0px 0px 25px;
	}

	input 
		{
		font-family : Verdana, Helvetica, Arial; 
		font-weight: bold;
		font-size : 9px;
		border: 1 solid #9696A9;
		}

	select, textarea 
		{
		font-family : Verdana, Helvetica, Arial; 
		border: 1 solid #9696A9;
		font-size : 9px;
		}


	A:link  
		{
		color : #6600FF;
		text-decoration : underline;
		}

	A:visited  
		{
		color : #CC0099;
		text-decoration : underline;
		}

	A:hover  
		{
		color : #FF0000;
		text-decoration : underline;
		}

	H1 
		{
		font-size: 19px; 
		font-style : bold;
		color: #6600CC;
		font-family : Arial, Helvetica, Verdana, sans-serif;
		margin: 15px 0px 5px 0px;
		}  
	H2 
		{
		font-size: 16px; 
		font-style : bold;
		color: #330099 ;
		font-family : Arial, Helvetica, Verdana, sans-serif;
		margin: 15px 0px 5px 0px;
		}  
	H3 
		{
		font-size: 14px; 
		font-style : bold;
		color: #330099 ;
		font-family : Arial, Helvetica, Verdana, sans-serif;
		margin: 15px 0px 5px 0px;
		}  
	H4 
		{
		font-size: 12px; 
		font-style : bold;
		color: #330099 ;
		font-family : Arial, Helvetica, Verdana, sans-serif;
		margin: 15px 0px 5px 0px;
		}  


	TH 
		{
		color: #330066;
		font-family : Verdana, Arial, Helvetica;
		font-style : bold;
		font-size: 9px;
		background-color: #C0C0C0;
		}   

.selection
		{
		color: #330066;
		font-family : Verdana, Arial, Helvetica;
		font-style : bold;
		background-color: #FFFF00;
		}   

	.date  
		{
		font-size : 7px;
		font-family : Verdana;
		font-style : italic;
		color: #3399ff ;
		}
	.table1 
		{
		background-color: #999999;
		}
	.line
		{
		background-color: #999999;
		text-indent: 0pt;
		}
#HAnk {
	position:absolute;
	visibility: hidden;
	top:70px;
	left:80px;
}
-->
</style>