	<SCRIPT language=javascript type="text/javascript">
		function basketWork( oc, nc, p, obj ) {
			if (isNaN(oc)) oc = 0;
			if (isNaN(nc)) nc = 0;
			if (oc <= 0 && nc > 0) BasketNames++;
			if (oc > 0 && nc <= 0) BasketNames--;
			BasketItems	= BasketItems + (nc - oc);
			BasketSumm = BasketSumm + (nc - oc)*p;
			document.getElementById('basketTable').style.display = (BasketItems>0) ? 'inline':'none';
			writeField('basketAll', BasketItems);
			writeField('basketNames', BasketNames);
			writeField('basketSumm', BasketSumm);
			eval('document.all.list'+obj+'[5].value = nc;');
			if (nc == 0) 	eval('document.all.list'+obj+'[4].value = "";');
			return true;
		}
	</SCRIPT>

<div class=clear style="height:40px;"></div>
<?php echo $_KAT['SEARCH_PLINE'];?>
<?php $_KAT['NO_PLINE'] = true;?>