<TR bgcolor="#FFFFFF">
<TD><?=$num+1?></TD>
<TD><?if ($_CORE->IS_ADMIN) include $_CORE->CoreModDir."/admin/kat_admin.submenu.each.inc.php"?><B><?=$data['name']?></B></TD>
<TD> 
<?=$data['path2file']?></TD>
<TD><?=$data['module']?></TD>
</TR>
