<?=($i % 3 == 0) ? "<TR>":''?>
<TD style="background: url(<?=$data['url'].'/tmbs/'.$data['file']?>) no-repeat center;" 
 align=right valign=top>
<img src="/image/sp.gif" width=1 height=90>
<A HREF="#" OnClick='ShowPopUp("/clear/gallery/big/<?=$data['url'].'/'.$data['file']?>", <?=$data['size'][0]?>, <?=$data['size'][1]?>, "no");'><IMG SRC="/modules/<?=$_GALLERY['MODULE_NAME']?>/images/a_zoom.gif" WIDTH="16" HEIGHT="16" BORDER="0" ALT="Просмотреть"></A>
<?($_CORE->IS_ADMIN)?include "admin/admin.menu.inc.html":''?>
</TD>
<?=($i % 3 == 2) ? "</TR>":''?>
