<TABLE cellpadding=0 cellspacing=0 width=100%>
<TR>

<TD align=center style="background: url(<?=$data['url']?>) no-repeat center;">
<img src="/image/sp.gif" width=1 height="<?=$data['size'][1]?>"></TD>

<!-- <TD align=center valign=middle>
<IMG SRC="<?=$data['url']?>" WIDTH="<?=$data['size'][0]?>" HEIGHT="<?=$data['size'][1]?>" BORDER="0" ALT="">
</TD>
 -->
</TR>
</TABLE>

