	<script language="JavaScript">
		BasketItems	= <?php echo(empty($_SESSION['_BASKET_ITEMS']))?0:$_SESSION['_BASKET_ITEMS']?>;
		BasketNames	= <?php echo(empty($_SESSION['_BASKET_NAMES']))?0:$_SESSION['_BASKET_NAMES']?>;
		BasketSumm	= <?php echo(empty($_SESSION['_BASKET_SUMM']))?0:str_replace(' ','',$_SESSION['_BASKET_SUMM'])?>;
		function basketWork( oc, nc, p, obj ) {
			BasketItems	= 0 + BasketItems + nc*1;
			if (document.getElementById('basketTable')) {
				document.getElementById('basketTable').style.display = (BasketItems>0) ? 'inline':'none';
			}
			writeField('basketItems', BasketItems);
			if (nc == 0) 	eval('document.all.list'+obj+'[4].value = "";');
			return true;
		}

		function animate_cart_my (obj)
		{
		src = obj.src;
				
		$('<img src="'+src+'" id="temp_cart_animate" style="z-index: 2000; position: absolute; top:'+Math.ceil($(obj).offset().top)+'px;left:'+Math.ceil($(obj).offset().left)+'px;">').prependTo('body');
				
				$('#temp_cart_animate').animate(
				{
						top: $('#basketItems').offset().top,
						left: $('#basketItems').offset().left
				},
				700,
				function() {$('#temp_cart_animate').remove();});
		}
</script>
	<IFRAME name='basket' style="display: none;" width="0" height="0" SRC='' align='center'></IFRAME>
	<div class="basket">
		<a href="/basket/view"><?=$_BASKET['MODULE_TITLE']; ?></a> <span id='basketItems' name='basketItems'  ><?=intval(@$_SESSION['_BASKET_ITEMS'])?></span>&nbsp;
	</div>
	
