<head>
<script type="text/javascript">
  _editor_url = './';
  _editor_lang = 'ru';
</script>
<script type="text/javascript" src="htmlarea.js"></script>
<script type="text/javascript" src="dialog.js"></script>
<script tyle="text/javascript" src="lang/ru.js"></script>

</head>

<body onload="HTMLArea.replace('TA')">

<form onsubmit="return false;">
<textarea id="TA" style="width: 100%; height: 15em;">
<p>Here is some sample text in textarea that's been transformed with <font
color="#0000CC"><b>HTMLArea</b></font>.<br />
You can make things <b>bold</b>, <i>italic</i>, <u>underline</u>.  You can change the
<font size="3">size</font> and <b><font color="#0000CC">c</font><font color="#00CC00">o</font><font color="#00CCCC">l</font><font color="#CC0000">o</font><font color="#CC00CC">r</font><font color="#CCCC00">s</font><font color="#CCCCCC">!</font></b>
And lots more...</p>

<p align="center"><font size="4" color="#ff0000"><b><u>Try HTMLArea
today!</u></b></font><br /></p>
</textarea>
</form>

	</body>
