<?if (!empty($data["doc"]) && is_file($FORM_DATA["doc"]["abspath"]."/".$data["doc"])):?>
<div class="searchitem_image">
		<a href="<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>" rel=facebox desc="<?=$data['name']?> <?=str_replace('"', "'", $data['cont'])?>">
			<div class="img">
				<img src="/reimg/<?=$FORM_DATA["doc"]["path"]."/".$data["doc"]?>?250" alt="<?=$data['name']?>" border="0">
			</div>
			<p>	<?=$data['name']?> </p>
		</a>
</div>
<?endif;
/*
< ?="/clear/".$_KAT['MODULE_NAME'].'/'.$_KAT['KUR_ALIAS'].'/'.$data["alias"].$url_add? >
*/
?>  

