<?
   $orderby = $tools->getOrder();  $ord="a_order_none.gif"; $ord_text = "Sort asc";
   $desc = $tools->isDesced() ? 'down':'up';  
   switch ( $desc )
	{	case "site":	$spec="a_order_none.gif";	$spec_text="Sort asc";		break;
		case "up":		$spec="a_order_up.gif";		$spec_text="Sort desc";			break;
		case "down":	$spec="a_order_down.gif";	$spec_text="Sort asc";		break;
	}
?>

<?$iterator=0;global $_OBSV;?>

<div id="dmodel_up_l" style="position:absolute;visibility:hidden">
<img alt=" " src="<?=Main::comm_link('add.gif', $f, $_OBSV['MODULE_NAME'] )?>">
<a title="Main Settings" href="/clear/obsv/main" OnClick="ShowPopUp(this.href,400,500,'yes');return false;">Main</a>
<br>
<img alt=" " src="<?=Main::comm_link('add.gif', $f, $_OBSV['MODULE_NAME'] )?>">
<a title="Add" href="/clear/obsv/forms/add" OnClick="ShowPopUp(this.href,400,300,'yes');return false;">Add</a>
</div>
<script language="javascript" type="text/javascript">
	writeField('CreateCmdLeft', getField('dmodel_up_l'));
</script>
<div id="dmodel_up_r" style="position:absolute;visibility:hidden">
<img alt=" " src="<?=Main::comm_link('add.gif', $f, $_OBSV['MODULE_NAME'] )?>">
<a title="View emails list" href="/obsv/emails/list">Emails</a>
<br>
<img alt=" " src="<?=Main::comm_link('add.gif', $f, $_OBSV['MODULE_NAME'] )?>">
<a title="View details list" href="/obsv/details/list">Details</a>
</div>
<script language="javascript" type="text/javascript">
	writeField('CreateCmdRight', getField('dmodel_up_r'));
</script>

<form name="<?=$GLOBALS['table_alias']?>" action="" method="POST">
<input type="hidden" name="table_name" value="<?=$GLOBALS['table_name']?>">
<TABLE BORDER=0 cellpadding=2 cellspacing=1 width=100% class="viewdetails">
 <tbody>
<tr>
    <?$field_alias='name';?>
      <td class="header" nowrap >
      <a href="<?=$tools->getOrderUrl($field_alias)?>" title="<?=($tools->isOrdered($field_alias))?$spec_text:$ord_text?>">
      <IMG SRC="<?=Main::comm_link( ($tools->isOrdered($field_alias))?$spec:$ord , $f, $_OBSV['MODULE_NAME'])?>"  Alt="" >   
      <?=Out::getFieldTitle($field_alias)?></a>
  </tr>
