/* common plate & see also*/

table.common a:hover, table.seealso a:hover { color: #869A00; }


/* color plate */

table.color, table.popuptitle { background-color: #869A00; }

/* common plate & see also*/

table.common a:hover, table.seealso a:hover { color: #869A00; }


/* color plate */

table.color, table.popuptitle { background-color: #869A00; }
